<h1>Change password</h1>
<%= form_tag({:controller  => "users", :action  => "change_password"},   :method => "post")  %>

 <%= render 'shared/error_messages', :object  => @user %>

<div class="field">
	<%=label_tag :password %>
	<%=password_field_tag :password%>
</div>
<div class="field">
	<%=label_tag :password_confirmation %>
	<%=password_field_tag :password_confirmation%>
</div>
<div class="action">
	<%= submit_tag "Change password" %>
</div>
<div class="action">
	<%= link_to "Cancel", user_path %>
</div>
