<h1>Forgot password</h1>
<p>Type in your email below to retrieve a temporary password.</p>
<%=form_tag({:controller  => "users", :action  => "forgot_password"},   :method => "post") %>
 
<div class="field">
	<%=label_tag(:email_find, "email") %>
	<%=text_field_tag (:email_find)%>

</div>

<div class="actions">
	<%=submit_tag ("Email temporary password") %>
</div>
<p>Haven't joined yet? <%=link_to "Sign up now!", signup_path %></p>