<h1>
<%=conditional_link(@user.name, current_user_is_user?, edit_user_path(current_user)) %>
</h1>

<h3>About <%=@user.name %></h3>
<%if current_user %>
	<% if @user.profile %>		
	<p><%=conditional_link(@profile.about, current_user_is_user?, edit_user_profile_path(current_user) )%></p>
	<% else %>
	<p><%=conditional_link(@about_default, current_user_is_user?, new_user_profile_path(current_user) )%></p>
	<%end%>
<%else %>

<% end %>

<div class= "profile_pic">
<%if current_user%>
	<%=conditional_link(profile_pic(:large, "profile_pic"), current_user_is_user?, 	edit_user_profile_path(current_user)) %>

<% else %>
	<%= profile_pic(:large, "profile_pic")%>
<% end %>
</div>
